html{
    background-color: rgba(0, 0, 0, 0.877);
}

video, canvas {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.canv {
    padding-right: 350px;
}
video, canvas {
    margin-left: auto;
    margin-top: auto;
    position: absolute;
  }
  .nav-link, a{
    color: white;
    font-size: 13pt;
}
.header-title{
    font-size: 40pt;
}
.nav-link:hover, a:hover{
    color: rgba(255, 255, 255, 0.808);
}
.navbar-nav{
    margin-left: 45px;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.active{
    font-weight: bold;
}
.btn{
    margin: 4px;
}
.btn-outline-warning{
    background-color:none;
    border:1px solid;
    color: white;
    font-size: 12pt;
}

.section-web{
    font-size:15pt;
    padding:20px;
}

.section-mob{
    font-size: 30pt;
    padding: 20px;
}

.section-mob > p > a{
    font-size: 30pt;
    text-decoration: none;
}

.section-mob > h1{
    font-size:50pt;
}

.btn-outline-warning:hover{
    background-color:  rgb(155, 5, 201);
    border-color:  rgb(165, 65, 196);
    color: white;
}

.form{
    position:relative;
    top:20px;
    padding: 20px;
    width: 500px;
    min-height: 500px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    height:60px;
    color: white;
    text-align: center;
 }
